<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Home Page</title>

	<style>
		img{width: 200px; height: 200px; padding: 7px 0;}
	</style>
    <!--style>.gal {


	-webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;


	}
	.gal img{ width: 250px; height: 250px; padding: 7px 0;}  {

		.gal {


	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;


	}

	}
    </style-->
</head>
<body>
<div class="container">
<h1>Home Page</h1>
	<form class="" action="" method="post">
		<button class="" type="submit">Upload</button>
	</form>
<div class="row">
<div class="col-md-12">
<hr>
	<div class="gal">
		<!--img src="{{url_for('static', filename='ed.jpg')}}" alt="Earth Dragon"-->
		<img src="../static/ed.jpg" alt="Earth Dragon">
		<img src="../static/logo.png" alt="Logo">
		<img src="../static/taikonator.jpg" alt="Taikonator">
		<img src="../static/lala.jpg" alt="Lala">
		<img src="../static/ricks.jpg" alt="Ricks">
	</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
	<div class="gal">
		<img src="../static/shaker1.jpg" alt="Earthshaker1">
		<img src="../static/shaker2.jpg" alt="Earthshaker2">
		<img src="../static/szechuan.jpg" alt="Szechuan Sauce">
		<img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
		<img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
	</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
	<div class="gal">
		<img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
		<img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
		<img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
		<img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
		<img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
	</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
	<div class="gal">
		<img src="https://preview.ibb.co/mysOxk/3.jpg" alt="">
		<img src="https://preview.ibb.co/mysOxk/3.jpg" alt="">
		<img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
		<img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
		<img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
	</div>
</div>
</div>
</div>
</body>
</html>