<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div class="container">
	<form  action="/logout" method="post">
		<div class="wrapp">
			<button value="Submit" type="submit">Logout</button>
		</div>
	</form>
<h1>Home Page</h1>
	<!-- Tab links -->
	<form  action="/showupload" method="post">
		<div class="wrapp">
			<button value="Submit" type="submit" style="font-size: 30px">Upload</button>
		</div>
	</form>
	<div class="tab">
    	<button class="tablinks" onclick="openSort(event, 'Hot')" id="defaultOpen">Hot</button>
  		<button class="tablinks" onclick="openSort(event, 'New')">New</button>
	</div>
<!-- Tab content -->
<div id="Hot" class="tabcontent">
  <h3>Hot</h3>
	<div class="row">
		<div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="hot"></div>
		</div>
	</div>
</div>

<div id="New" class="tabcontent">
  <h3>New</h3>
	<div class="row">
		<div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="new"></div>
		</div>
	</div>
</div>
</div>

<script>
function openSort(evt, sort) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(sort).style.display = "block";
    evt.currentTarget.className += " active"
}
document.getElementById("defaultOpen").click();

$.getJSON( "/images", function( data ) {
  var items = [];
  $.each( data, function( key, val ) {
    items.push( "<div class='gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-3'><a target='_blank' href='../static/" + data[data.length-(key+1)]['path'] + "'><img src='../static/" + data[data.length-(key+1)]['path'] + "'></a></div>");
  });

  $( "<ul/>", {
    "class": "my-new-list",
    html: items.join( "" )
  }).appendTo( ".new" );
});

$.getJSON( "/images", function( data ) {
  var items = [];
  $.each( data, function( key, val ) {
    items.push( "<div class='gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-3'><a target='_blank' href='../static/" + data[key]['path'] + "'><img src='../static/" + data[key]['path'] + "'></a></div>");
  });

  $( "<ul/>", {
    "class": "my-new-list",
    html: items.join( "" )
  }).appendTo( ".hot" );
});

</script>

</body>
</html>
